[submodule "app/src/main/cpp/love"]
	path = app/src/main/cpp/love
	url = https://github.com/love2d/love
	branch = main
[submodule "app/src/main/cpp/megasource"]
	path = app/src/main/cpp/megasource
	url = https://github.com/love2d/megasource
	branch = main
