<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" tools:replace="maxSdkVersion" />

  <application tools:node="merge">
    <service android:name="org.love2d.android.DownloadService" />
    <activity
        android:name="org.love2d.android.GameActivity"
        tools:node="merge" >
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.love" />
        <data android:host="*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="content" />
        <data android:mimeType="application/x-love-game" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="content" />
        <data android:mimeType="application/octet-stream" />
      </intent-filter>
    </activity>
    <activity
        android:name="org.love2d.android.DownloadActivity"
        android:exported="true"
        android:noHistory="true"
        android:theme="@android:style/Theme.NoTitleBar" >
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http"
            android:host="*"
            android:mimeType="*/*"
            android:pathPattern=".*\\.love" />
        <data android:scheme="https"
            android:host="*"
            android:mimeType="*/*"
            android:pathPattern=".*\\.love" />
      </intent-filter>
    </activity>
    <activity
        android:name="org.love2d.android.SelectorActivity"
        android:label="LÖVE Loader"
        android:exported="true"
        android:enabled="@bool/selector_active"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="tv.ouya.intent.category.GAME" />
      </intent-filter>
    </activity>
  </application>
</manifest>
